/* CSS Document */
@charset "utf-8";
/* 리셋 */
html :lang(en) { font-family: Arial, 'Microsoft JhengHei', 'Malgun Gothic', sans-serif, fontAwesome; }
html :lang(ko) { font-family: Arial, 'Microsoft JhengHei', 'Malgun Gothic', Dotum, sans-serif, fontAwesome; }
html :lang(ja) { font-family: Arial, Meiryo, 'Yu Gothic', 'Microsoft JhengHei', 'Malgun Gothic', sans-serif, fontAwesome;}
html :lang(zh-cn) { font-family: Arial, 'Microsoft Yahei', NSimSun , 'Malgun Gothic', sans-serif, fontAwesome; }
html :lang(zh-tw) { font-family: Arial, 'Microsoft JhengHei', PMingLiU ,'Malgun Gothic', sans-serif, fontAwesome; }

html{;margin:0;padding:0; font-size: 14px; }
html, body{width:100%;height:100%;line-height: 1.2em;}
html * {box-sizing: border-box;}
body{padding:0; margin:0;font-size:14px; color:#333;}
span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, textarea, input, figure, figcaption, video, mark{margin:0px; padding:0px;}
caption {line-height: 0;font-size: 0;text-indent: -1600px;color:transparent;}
img{border:0;vertical-align:middle}
iframe{display:block;}
h1, h2, h3, h4, h5, h6{font-size:14px;font-weight:normal}
div, p{margin:0;padding:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;margin:0px;padding:0px}
strong{font-weight:700;margin:0px;padding:0px}
ol,ul,li{list-style:none; text-decoration:none;}
blockquote, q {quotes:none;}
main,nav,aside,article,header,section,footer,figure{display:block;}
table{width:100%;table-layout:fixed}
table a:hover{text-decoration:underline;color:#0186d5}
a {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);color: inherit;text-decoration: none;}
label{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
button{border:none;padding:0;cursor:pointer;background-color:transparent;}
select {padding-right: 28px;}
select:focus,input:focus {outline: none;}
fieldset{border:none;display:block; }
legend.legend-on{
  display: block;
  width: 100%;
  padding: 0;
  margin: 0px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
}
legend.legend-off{
  line-height: 0;font-size: 0;text-indent: -1600px;color:transparent;border:none;
}
/******* form *********/


label.placeholder{line-height:25px;text-indent:3px;color:#aaa;text-align:left}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   color:    #b5b5b5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b5b5b5;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b5b5b5;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #b5b5b5;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d0cfd4;
  border: 1px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}